/* Custom CSS styles */

:root {
    --main: #565656;
    --main-light: #efefef;
    --dark: #eeeeee;
    --dark-light: #1b1b1b;
    --white: #565656;
    --grey: rgb(167 167 167);
}

.welcome-title {
    text-align: center;
    font-size: 1.3em;
    font-family: 'GreatVibes Regular';
}

a:hover, a.active {
    border-bottom: 1px solid var(--main);
    padding-bottom: 3px;
}

nav.navbar {
  padding-top: 1.5em;
}

div.logo {
    height: 3rem;
}

@media (max-width: 1024px)
div.logo {
    margin-bottom: 10px;
}


@media (max-width: 1024px)
div.logo {
    height: 4rem;
}