/* Custom CSS styles */
:root {
    --main: #383838;
    --main-light: #ffffff;
    --dark: #eeeeee;
    --dark-light: #1b1b1b;
    --white: #383838;
    --grey: rgb(167 167 167);
}

a:hover, a.active {
    border-bottom: 1px solid var(--main);
    padding-bottom: 3px;
}

.welcome-title {
  
        font-family: 'GreatVibes';
        font-size: x-large
    

}